<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div class="btn-toolbar justify-content-between" role="toolbar">
    <div class="btn-group md-3 mt-3" role="group">
        <a th:href="@{references/addAuthor}" class="btn btn-success" id="addBtn">
            Добавить
        </a>
    </div>
    <div class="input-group mb-3 w-50 ms-auto">
        <input id='searchWord' name="searchWord" type="text" class="form-control" aria-label="Search" aria-describedby="button-addon2">
        <button onclick="filterAuthor()" id="searchBtn" class="btn btn-outline-secondary" type="button">Button</button>
    </div>
</div>



</html>